<p id="notice"><%= notice %></p>

<h1>Listing Wallet Actions</h1>

<table>
  <thead>
    <tr>
      <th>Wallet</th>
      <th>Action type</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wallet_actions.each do |wallet_action| %>
      <tr>
        <td><%= wallet_action.wallet %></td>
        <td><%= wallet_action.action_type %></td>
        <td><%= wallet_action.amount %></td>
        <td><%= link_to 'Show', wallet_action %></td>
        <td><%= link_to 'Edit', edit_wallet_action_path(wallet_action) %></td>
        <td><%= link_to 'Destroy', wallet_action, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wallet action', new_wallet_action_path %>
