<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
  </div>
  <div class="col-md-2">
  </div>  
  <div class="col-md-4">
    <input class="form-control input-sm" type="text" id="search" name="searcher" placeholder="Type something">    
  </div>
</div>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Disk</th>
      <th>Owner</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody id='instance-data'>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.uid %></td>
        <td><%= instance.name  %></td> 
        <td><%= instance.cpu %></td>
        <td><%= instance.ram %></td>
        <td><%= instance.disk %></td>
        <td><%= "#{instance.owner.name} / #{instance.owner.email}" %></td>
        <td><%= link_to 'Click To See Details', instance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  document.getElementById('search').addEventListener('keyup', function(evt){
    var datarows = document.getElementById('instance-data').rows;
    
    if (evt.target.value.length == 0) {
      Array.from(datarows).map(function(dr){
        dr.style.display = "table-row";
      });
    }

    if (evt.target.value.length > 1) {
      Array.from(datarows).map(function(rw){
        if(rw.innerText.indexOf(evt.target.value) < 0 ){
          rw.style.display = "none";
        }
      });
    }
  });
</script>


