<p id="notice"><%= notice %></p>

<h1>Listing Instances</h1>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Name</th>
      <th>Cpu</th>
      <th>Ram</th>
      <th>Disk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instances.each do |instance| %>
      <tr>
        <td><%= instance.uid %></td>
        <td><%= instance.name  %></td> 
        <td><%= instance.cpu %></td>
        <td><%= instance.ram %></td>
        <td><%= instance.disk %></td>
        <td><%= link_to 'Click To See Details', instance %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


