<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3>Instance: <%= @instance.name %></h3></div>
      <div class="panel-body">
        <p>
          <strong>Uid:</strong>
          <%= @instance.uid %>
        </p>
        <p>
          <strong>FLavor:</strong>
          <%= @instance.flavor %>
        </p>
        <p>
          <strong>Zone:</strong>
          <%= @instance.zone %>
        </p>
        <p>
          <strong>Status:</strong>
          <%= @instance.status %>
        </p>
        <p>
          <strong>Created:</strong>
          <%= @instance.creation %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3>Volumes</h3></div>
      <div class="panel-body">
        <%= render partial: "partials/volumes_view", locals: {instances: @instance.volumes} %>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading"><h3>Ip Adresses</h3></div>
      <div class="panel-body">
        <%= render partial: "partials/ip_list", locals: {instances: @instance.ip_list} %>
      </div>
    </div>
  </div>
</div>
