<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @instance.uid %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @instance.cpu %>
</p>
<p>
  <strong>Ram:</strong>
  <%= @instance.ram %>
</p>

<p>
  <strong>Disk:</strong>
  <%= @instance.disk %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @instance.detail.zone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @instance.detail.status %>
</p>

<p>
  <strong>State:</strong>
  <%= @instance.detail.running? %>
</p>

<p>
  <strong>Created:</strong>
  <%= @instance.detail.created %>
</p>



<%= link_to 'Back', instances_path %>
