<p id="notice"><%= notice %></p>

<h1>Listing Instance Details</h1>

<table>
  <thead>
    <tr>
      <th>Instance</th>
      <th>Zone</th>
      <th>State</th>
      <th>Status</th>
      <th>Created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instance_details.each do |instance_detail| %>
      <tr>
        <td><%= instance_detail.instance_id %></td>
        <td><%= instance_detail.zone %></td>
        <td><%= instance_detail.state %></td>
        <td><%= instance_detail.status %></td>
        <td><%= instance_detail.created %></td>
        <td><%= link_to 'Show', instance_detail %></td>
        <td><%= link_to 'Edit', edit_instance_detail_path(instance_detail) %></td>
        <td><%= link_to 'Destroy', instance_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instance detail', new_instance_detail_path %>
