<p id="notice"><%= notice %></p>

<p>
  <strong>Instance:</strong>
  <%= @instance_detail.instance_id %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @instance_detail.zone %>
</p>

<p>
  <strong>State:</strong>
  <%= @instance_detail.state %>
</p>

<p>
  <strong>Status:</strong>
  <%= @instance_detail.status %>
</p>

<p>
  <strong>Created:</strong>
  <%= @instance_detail.created %>
</p>

<%= link_to 'Edit', edit_instance_detail_path(@instance_detail) %> |
<%= link_to 'Back', instance_details_path %>
