<p id="notice"><%= notice %></p>

<h1><%= @owner.name %> / <%= @owner.email %></h1>


<div class="row">
	<div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
           Instances / <%= link_to "Create", new_instance_path %>
        </h3>
      </div>
      <div class="panel-body">
        <%= render "partials/instances" %>
      </div>
    </div>
	</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
           Volumes
        </h3>
      </div>

      <div class="panel-body">
        <%= render "partials/volumes" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          Payments
        </h3>
      </div>

      <div class="panel-body">
        <%= render "partials/payments" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          Routers
        </h3>
      </div>

      <div class="panel-body">
        <%= render "partials/routers" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          Floating Ips
        </h3>
      </div>

      <div class="panel-body">
        <%= render "partials/fips" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          Firewalls
        </h3>
      </div>

      <div class="panel-body">
        <%= render "partials/firewalls" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class = "panel-heading">
        <h3 class = "panel-title">
          Load Balancers
        </h3>
      </div>

      <div class="panel-body">
        <%= render "partials/load_balancers" %>
      </div>
    </div>
  </div>
</div>



<%= link_to 'Back', owners_path, class: "btn btn-primary" %>
