<p id="notice"><%= notice %></p>


<div class="row">
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
        <%= @owner.name %> / <%= @owner.email %>        			 
      </div>
			<div class="panel-body">
			
			</div>
		</div>
	</div>
</div>

<p>
  <strong>Uid:</strong>
  <%= @owner.uid %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
