<%= form_for(@cpu_load) do |f| %>
  <% if @cpu_load.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpu_load.errors.count, "error") %> prohibited this cpu_load from being saved:</h2>

      <ul>
      <% @cpu_load.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :instance_id %><br>
    <%= f.text_field :instance_id %>
  </div>
  <div class="field">
    <%= f.label :percentage %><br>
    <%= f.text_field :percentage %>
  </div>
  <div class="field">
    <%= f.label :observed_at %><br>
    <%= f.datetime_select :observed_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
