<p id="notice"><%= notice %></p>

<h1>Listing Cpu Loads</h1>

<table>
  <thead>
    <tr>
      <th>Instance</th>
      <th>Percentage</th>
      <th>Observed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cpu_loads.each do |cpu_load| %>
      <tr>
        <td><%= cpu_load.instance %></td>
        <td><%= cpu_load.percentage %></td>
        <td><%= cpu_load.observed_at %></td>
        <td><%= link_to 'Show', cpu_load %></td>
        <td><%= link_to 'Edit', edit_cpu_load_path(cpu_load) %></td>
        <td><%= link_to 'Destroy', cpu_load, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cpu load', new_cpu_load_path %>
