<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>Uid</th>
      <th>Amount</th>
      <th>Type</th>
      <th>Attached</th>
      <th>Attached to</th>
      <th>Creation</th>
    </tr>
  </thead>

  <tbody id='volume-data'>
    <% instances.each do |instance| %>
      <tr>
        <td><%= link_to instance.uid, volume_path(instance) %></td>
        <td><%= instance.amount  %></td>
        <td><%= instance.volume_type  %></td>
        <td><%= instance.available ? "No" : "Yes"  %></td> 
        <td><%= link_to instance.instance.name, instance_path(instance.instance) %></td>
        <td><%= instance.creation %></td>
      </tr>
    <% end %>
  </tbody>
</table>
