<%= form_for(@volume) do |f| %>
  <% if @volume.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@volume.errors.count, "error") %> prohibited this volume from being saved:</h2>

      <ul>
      <% @volume.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :available %><br>
    <%= f.check_box :available %>
  </div>
  <div class="field">
    <%= f.label :instance_id %><br>
    <%= f.text_field :instance_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
