<p id="notice"><%= notice %></p>

<h1>Listing Volumes</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Type</th>
      <th>Amount</th>
      <th>Available</th>
      <th>Instance</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @volumes.each do |volume| %>
      <tr>
        <td><%= volume.volume_type %></td>
        <td><%= volume.amount %></td>
        <td><%= volume.available %></td>
        <td><%= link_to volume.instance, instance_path(volume.instance) %></td>
        <td><%= link_to volume.owner, owner_path(volume.owner) %></td>
        <td><%= link_to 'Show', volume %></td>
      </tr>
    <% end %>
  </tbody>
</table>

