<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @volume.type %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @volume.amount %>
</p>

<p>
  <strong>Available:</strong>
  <%= @volume.available %>
</p>

<p>
  <strong>Instance:</strong>
  <%= @volume.instance %>
</p>

<p>
  <strong>User:</strong>
  <%= @volume.user %>
</p>

<%= link_to 'Edit', edit_volume_path(@volume) %> |
<%= link_to 'Back', volumes_path %>
