<%= form_for(@fip) do |f| %>
  <% if @fip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fip.errors.count, "error") %> prohibited this fip from being saved:</h2>

      <ul>
      <% @fip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :tenant_uid %><br>
    <%= f.text_field :tenant_uid %>
  </div>
  <div class="field">
    <%= f.label :fixed_ip %><br>
    <%= f.text_field :fixed_ip %>
  </div>
  <div class="field">
    <%= f.label :floating_ip %><br>
    <%= f.text_field :floating_ip %>
  </div>
  <div class="field">
    <%= f.label :creation %><br>
    <%= f.datetime_select :creation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
