<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instance_bill.name %>
</p>

<p>
  <strong>Total vcpu:</strong>
  <%= @instance_bill.total_vcpu %>
</p>

<p>
  <strong>Total ram:</strong>
  <%= @instance_bill.total_ram %>
</p>

<p>
  <strong>Total vdisk:</strong>
  <%= @instance_bill.total_vdisk %>
</p>

<p>
  <strong>Total cost:</strong>
  <%= @instance_bill.total_cost %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @instance_bill.enabled %>
</p>

<%= link_to 'Edit', edit_instance_bill_path(@instance_bill) %> |
<%= link_to 'Back', instance_bills_path %>
